<div class="super_container">
    <!-- New Arrivals -->

    <div class="new_arrivals">
        <div class="container">

            <!-- TODO: Pagination -->

            <!-- Items... -->
            <div class="row">
                <div class="col">
                    <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                        <div class="product-item men" *ngFor="let product of products">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src={{product.image.secure_url}} class="img-thumbnail img-fluid center-img" style="max-width:150px;" alt="">
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name">
                                        <a href="single.html">{{product.title}}</a>
                                    </h6>
                                    <div class="product_price">{{product.price | currency : symbol : fractionSize}}</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button">
                                <a href="#">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>


<footer-component></footer-component>