<div class="container">
    <div class="row">

        <div class="col-lg-6 contact_col col-lg-offset-3">
            <div class="contact_contents">
                <h1 class="text-center">Artsy Angler</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Id consectetur purus ut faucibus. Scelerisque purus semper eget duis at tellus at. Nibh tellus molestie
                    nunc non blandit massa enim. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Arcu
                    non sodales neque sodales ut etiam sit amet nisl. Id diam vel quam elementum pulvinar etiam non quam.
                    Odio aenean sed adipiscing diam donec adipiscing tristique risus. Suspendisse interdum consectetur libero
                    id faucibus nisl tincidunt eget. Tellus cras adipiscing enim eu turpis egestas pretium. Scelerisque in
                    dictum non consectetur a erat. Phasellus faucibus scelerisque eleifend donec pretium vulputate. Tristique
                    senectus et netus et malesuada fames. Nibh sit amet commodo nulla facilisi. Tellus in metus vulputate
                    eu scelerisque felis imperdiet proin fermentum. Sit amet nisl purus in mollis nunc sed id. Tortor id
                    aliquet lectus proin. Commodo elit at imperdiet dui accumsan sit. Ac orci phasellus egestas tellus rutrum
                    tellus pellentesque eu. Quam pellentesque nec nam aliquam sem et tortor consequat id.
                </p>

                <p>
                    Ipsum dolor sit amet consectetur adipiscing elit. Morbi leo urna molestie at elementum eu facilisis sed odio. Euismod in
                    pellentesque massa placerat duis ultricies lacus. Dolor sit amet consectetur adipiscing elit duis tristique
                    sollicitudin. Velit dignissim sodales ut eu sem integer vitae justo eget. Aliquet lectus proin nibh nisl
                    condimentum. At auctor urna nunc id. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Aliquet eget
                    sit amet tellus cras adipiscing enim. Gravida arcu ac tortor dignissim convallis aenean et. Enim neque
                    volutpat ac tincidunt vitae semper quis lectus.
                </p>

                <p>
                    Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Faucibus turpis in eu mi bibendum neque egestas.
                    Cursus eget nunc scelerisque viverra mauris in. Facilisis gravida neque convallis a cras semper. Facilisis
                    magna etiam tempor orci eu lobortis elementum. Faucibus a pellentesque sit amet porttitor eget. Felis
                    eget nunc lobortis mattis aliquam faucibus purus in. Feugiat vivamus at augue eget arcu. Duis at consectetur
                    lorem donec massa sapien faucibus et. Mauris in aliquam sem fringilla ut. In egestas erat imperdiet sed
                    euismod.
                </p>

                <p>
                    Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Vitae justo eget magna fermentum iaculis eu. Mattis nunc
                    sed blandit libero volutpat sed. Sed risus pretium quam vulputate dignissim. Sodales neque sodales ut
                    etiam sit amet nisl purus in. Cras fermentum odio eu feugiat pretium. Auctor augue mauris augue neque
                    gravida in. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Nibh tortor id aliquet lectus
                    proin nibh. Cras adipiscing enim eu turpis egestas. Vestibulum sed arcu non odio euismod lacinia. Eu
                    feugiat pretium nibh ipsum consequat nisl vel pretium. Ac ut consequat semper viverra. Molestie at elementum
                    eu facilisis sed odio. Lorem donec massa sapien faucibus et molestie ac. Porta lorem mollis aliquam ut
                    porttitor. Nisl tincidunt eget nullam non.
                </p>

                <p>
                    A diam sollicitudin tempor id eu nisl nunc mi. Enim nulla aliquet porttitor lacus. Vitae nunc sed velit dignissim sodales
                    ut eu sem integer. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Aliquam nulla facilisi
                    cras fermentum odio eu. Proin fermentum leo vel orci. Ullamcorper sit amet risus nullam eget felis eget
                    nunc lobortis. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Nunc faucibus
                    a pellentesque sit amet porttitor eget dolor. Duis convallis convallis tellus id. Gravida dictum fusce
                    ut placerat. Ut tristique et egestas quis ipsum. Lacinia at quis risus sed vulputate odio ut enim blandit.
                    Odio eu feugiat pretium nibh. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Adipiscing
                    at in tellus integer feugiat scelerisque. Quam id leo in vitae. Tempor id eu nisl nunc mi ipsum. Dolor
                    sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Elit scelerisque mauris pellentesque
                    pulvinar pellentesque habitant morbi.
                </p>
            </div>


        </div>
    </div>