<div class="col-xs-12 col-md-3 col-lg-2 col-lg-offset-1">
  <img src="{{item.image.url}}" width="50px">
</div>

<div class="col-xs-12 col-md-3 col-lg-2 col-lg-offset-1">
  <h4>
    {{item.product.title}}
  </h4>
</div>

<div class="col-xs-12 col-md-3 col-lg-2 col-lg-offset-1">
  <h4>
    {{item.product.price | currency: 'USD'}}
  </h4>
</div>

<!-- Will add qty later...
<div class="col-xs-12 col-md-3 col-lg-2 col-lg-offset-1">
  <h4>
    {{item.qty}}
  </h4>
</div> -->

<div class="col-xs-12 col-md-3 col-lg-2 col-lg-offset-1">
  <button class="btn btn-danger" (click)="removeItemFromCart(item.id)"> Remove</button>
</div>